In [30]:
# loading the required libraries 
#Load required libraries
import os
import csv
import tweepy
from tweepy.streaming import StreamListener
from tweepy import OAuthHandler
from tweepy import Stream
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from textblob.sentiments import NaiveBayesAnalyzer
from spacy.lang.en import English
from spacy.lang.en.stop_words import STOP_WORDS
stop_words = STOP_WORDS
import string
punctuations = string.punctuation

In [2]:
#set working directory
os.chdir("C:/Users/admin/Documents/Python Files")
os.getcwd()

'C:\\Users\\admin\\Documents\\Python Files'

In [3]:
## Connect Twitter

#Store required keys
consumer key = ""
consumer_secret = ""
access_key = ""
access_secret = ""

In [4]:
#Establish connection
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)
api = tweepy.API(auth)

##### 	We have extracted tweets by below trending Hastags
1. 	#BTSWORLD
-Tweet count: 500
2. 	#PAKvNZ
-Tweet count: 500
3. 	#GOT7onTodayShow
-Tweet count: 500

In [16]:
#Extract tweets
#Create empty list
results = []
trending_hastags = ['#BTSWORLD','#PAKvNZ','#GOT7onTodayShow']
for i in trending_hastags:
    #Get the first 500 items based on the search query
    for tweet in tweepy.Cursor(api.search,q=i,lang="en").items(500):
        results.append(tweet)

In [17]:
# Verify the number of items returned
print (len(results))

1500

In [18]:
#Convert list into dataframe
def toDataFrame(tweets):
    #Create empty data frame
    DataSet = pd.DataFrame()
    
    #extract relevant information
    DataSet['tweetID'] = [tweet.id for tweet in tweets]
    DataSet['tweetText'] = [tweet.text for tweet in tweets]
    DataSet['tweetRetweetCt'] = [tweet.retweet_count for tweet in tweets]
    DataSet['tweetFavoriteCt'] = [tweet.favorite_count for tweet in tweets]
    DataSet['tweetSource'] = [tweet.source for tweet in tweets]
    DataSet['tweetCreated'] = [tweet.created_at for tweet in tweets]
    DataSet['userID'] = [tweet.user.id for tweet in tweets]
    DataSet['userScreen'] = [tweet.user.screen_name for tweet in tweets]
    DataSet['userName'] = [tweet.user.name for tweet in tweets]
    DataSet['userCreateDt'] = [tweet.user.created_at for tweet in tweets]
    DataSet['userDesc'] = [tweet.user.description for tweet in tweets]
    DataSet['userFollowerCt'] = [tweet.user.followers_count for tweet in tweets]
    DataSet['userFriendsCt'] = [tweet.user.friends_count for tweet in tweets]
    DataSet['userLocation'] = [tweet.user.location for tweet in tweets]
    DataSet['userTimezone'] = [tweet.user.time_zone for tweet in tweets]

    return DataSet

In [19]:
#Pass the tweets list to the above function to create a DataFrame
DataSet = toDataFrame(results)

In [21]:
DataSet.head(5)

,tweetID,tweetText,tweetRetweetCt,tweetFavoriteCt,tweetSource,tweetCreated,userID,userScreen,userName,userCreateDt,userDesc,userFollowerCt,userFriendsCt,userLocation,userTimezone
0,1143919690743341056,RT @softwhoseok: me explaining to namjoon and ...,169,0,Twitter for Android,2019-06-26 16:31:21,192224155,owenthesaintss,âœ¨ hope right hereâœ¨,2010-09-18 14:48:44,FUCK your zodiac sign whatâ€™s your name what ex...,547,421,,None
1,1143919690718334976,RT @agustshoongi: Me before #BTSWORLD: any one...,389,0,Twitter for Android,2019-06-26 16:31:21,1141749496755499011,reveluv_exe,Gabi$ ðŸ¤¡ #ATEEZ2ndWin à²¥â€¿à²¥,2019-06-20 16:47:47,to__##JIMINIE : I will be your manager on bts ...,20,55,was created 20/06/19,None
2,1143919690407956483,RT @guroderes: i drew my personal interpretati...,3785,0,Twitter for iPhone,2019-06-26 16:31:21,3234322494,whozhaechann,ThaYsPetAcuLaR Viu o jk voando 25/05,2015-06-02 23:45:29,If teardrops could be bottled? ðŸ¥€{fÃ£ account} @...,7169,7142,"Rio de Janeiro, Brasil",None
3,1143919689786990594,RT @btsworIdwide: #BTSWORLD Update:\n\nARMY: a...,263,0,Twitter Web App,2019-06-26 16:31:21,1127776211214655489,chilachiara,Chila,2019-05-13 03:22:56,I dont care,4,17,,None
4,1143919689619398656,RT @sugasaward: Me chasing seokjin to audition...,1217,0,Twitter Web App,2019-06-26 16:31:21,1113918609275990016,LeilaXBangtan,LeilaðŸ”¥,2019-04-04 21:37:46,,716,4442,,None

In [23]:
DataSet.to_csv('tweeterDataset.csv')

In [17]:
#Load Text data
df = pd.read_csv("tweeterDataset.csv")

In [18]:
df.columns

Index(['Unnamed: 0', 'tweetID', 'tweetText', 'tweetRetweetCt',
       'tweetFavoriteCt', 'tweetSource', 'tweetCreated', 'userID',
       'userScreen', 'userName', 'userCreateDt', 'userDesc', 'userFollowerCt',
       'userFriendsCt', 'userLocation', 'userTimezone'],
      dtype='object')

In [21]:
# let's remove the features which are not required 
df = df.drop(['Unnamed: 0', 'tweetID', 'tweetSource', 'tweetCreated', 'userID',
       'userScreen', 'userName', 'userCreateDt', 'userDesc', 'userLocation', 'userTimezone'],axis = 1)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 5 columns):
tweetText          1500 non-null object
tweetRetweetCt     1500 non-null int64
tweetFavoriteCt    1500 non-null int64
userFollowerCt     1500 non-null int64
userFriendsCt      1500 non-null int64
dtypes: int64(4), object(1)
memory usage: 58.7+ KB

In [24]:
df.describe()

       tweetRetweetCt  tweetFavoriteCt  userFollowerCt  userFriendsCt
count     1500.000000      1500.000000     1500.000000    1500.000000
mean      2148.734000         0.340667     1677.151333     615.463333
std       4266.458223         1.497367    17447.844231    1624.323517
min          0.000000         0.000000        0.000000       0.000000
25%          1.000000         0.000000       44.750000      95.000000
50%        186.000000         0.000000      179.000000     245.000000
75%       2832.250000         0.000000      576.750000     583.750000
max      21970.000000        30.000000   600867.000000   41975.000000

###### let' feature engineer features like : 
- Length of tweet (1 to 140 characters) 
- Average word length in tweet 
- Number of #hashtags 
- Number of @mentions 
- Number of links

In [43]:
def length_of_tweet(tweet):
    return len(tweet)

In [44]:
def avg_len(length):
    return length/sum(df['length_of_tweet'])

In [ ]:
import re

In [67]:
def num_hastags(tweet):
    count = 0
    words = tweet.split()
    for word in words:
        if word[:1] == '#' and len(word)>1:
            count+=1
            return count

In [68]:
def num_mentions(tweet):
    words = tweet.split()
    count = 0
    for word in words:
        if word[:1] == '@' and len(word)>1:
            count+=1
            return count

In [69]:
def num_links(tweet):
    words = tweet.split()
    count = 0
    for word in words:
        if word[:5] == 'https' and len(word)>5:
            count+=1
            return count

In [70]:
df['num_links'] = df['tweetText'].apply(num_links)
df['num_mentions'] = df['tweetText'].apply(num_mentions)
df['num_hastags'] = df['tweetText'].apply(num_hastags)
df['length_of_tweet'] = df['tweetText'].apply(length_of_tweet)

In [71]:
df.head()

,tweetText,tweetRetweetCt,tweetFavoriteCt,userFollowerCt,userFriendsCt,num_links,num_mentions,num_hastags,length_of_tweet
0,RT @softwhoseok: me explaining to namjoon and ...,169,0,547,421,1.0,1.0,1.0,140
1,RT @agustshoongi: Me before #BTSWORLD: any one...,389,0,20,55,NaN,1.0,1.0,140
2,RT @guroderes: i drew my personal interpretati...,3785,0,7169,7142,1.0,1.0,1.0,121
3,RT @btsworIdwide: #BTSWORLD Update:\n\nARMY: a...,263,0,4,17,NaN,1.0,1.0,140
4,RT @sugasaward: Me chasing seokjin to audition...,1217,0,716,4442,1.0,1.0,1.0,93

In [ ]:
# create the nlp object using Spacy's English language class
nlp = English()

In [ ]:
# Creating our tokenizer function
def spacy_tokenizer(sentence):
    # Creating our token object, which is used to create documents with linguistic annotations.
    mytokens = nlp(sentence)

    # here the token is converted into lowercase if it is a Pronoun and if it is not a Pronoun then it is lemmatized and lowercased    
    mytokens = [ word.lemma_.lower().strip() if word.lemma_ != "-PRON-" else word.lower_ for word in mytokens ]

    # Removing stop words using stopword from spacy library and punctuations from string library
    mytokens = [ word for word in mytokens if word not in stop_words and word not in punctuations ]

    # return preprocessed list of tokens
    return mytokens

In [ ]:
# Custom transformer using spaCy
class predictors(TransformerMixin):
    def transform(self, X, **transform_params):
        # Cleaning Text
        return [clean_text(text) for text in X]

    def fit(self, X, y, **fit_params):
        return self

    def get_params(self, deep=True):
        return {}

# Basic function to clean the text
def clean_text(text):
    # Removing spaces and converting text into lowercase
    return text.strip().lower()

In [ ]:
# bow_vector = CountVectorizer(tokenizer = spacy_tokenizer, ngram_range=(1,1))
# Creating the Bag of Words model
bow_vector = CountVectorizer(max_features = 100,tokenizer = spacy_tokenizer,ngram_range=(1,2))
# X = bow_vector.fit_transform(train.loc[:,'Title']).toarray()

In [ ]:
# Sentiment Analysis using Vader
FinalResults_Vader = pd.DataFrame()

# Create engine
analyzer = SentimentIntensityAnalyzer()

# Run Engine
for i in range(0, post.shape[0]):
    
    snt = analyzer.polarity_scores(post.iloc[i,1])
    
    temp = pd.DataFrame({'Comments': post.iloc[i,1], 'Polarity': list(snt.items())[3][1]}, index = [0])

    FinalResults_Vader = FinalResults_Vader.append(temp)

In [ ]:
# Create pipeline using Bag of Words
pipe =